.footer {
    position: relative;
    margin-top: 1px;
    padding-top: 10px;
    bottom: 0;
    clear: both;
}

.footer .container-fluid {
    background: linear-gradient(to bottom, #ffffff 0%, #FFA3A1 80%);   
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    max-width: 100%;
}

.footer .footer-info {
    position: relative;
    width: 100%;
    text-align: center;
    
}

.footer .footer-info .footer-logo {
    display: inline-block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #2e2c41;
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 5px;
}

.footer .footer-credit .footer-brand {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #343148;
    font-size: 19px;
    line-height: 60px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 45px;
}

.footer .footer-info h3 {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
}

.footer .footer-menu {
    width: 100%;
    display: flex;
    justify-content: center;
}

.footer .footer-menu p {
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    padding: 0 10px;
    border-right: 1px solid #ffffff;
}

.footer .footer-menu p:last-child {
    border: none;
}

.footer .footer-social {
    position: relative;
    margin-top: 5px;
}

.footer .footer-social a {
    display: inline-block;
}

.footer .footer-social a i {
    margin-right: 15px;
    font-size: 20px;
    color: #ffffff;
    transition: .3s;
}

.footer .footer-social a:last-child i {
    margin: 0;
}

.footer .footer-social a:hover i {
    color: #F7CAC9;
}

.footer .copyright {
    margin-top: 10px;
    padding: 0 30px;
}

.footer .copyright .row {
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright p {
    margin: 0;
    color: #343148;
    font-size: 20px;
}

.footer .copyright .col-md-6:last-child p {
    text-align: right;
    padding-top: 15px;
}

.footer .copyright p a {
    color: #ffffff;
    font-weight: 600;
}


.footer .copyright p a:hover {
    color: #343148;
}

@media (max-width: 767.98px) {
    .footer .copyright p,
    .footer .copyright .col-md-6:last-child p {
        margin: 5px 0;
        text-align: center;
    }
}